.active{
  font-weight: bold;
}

h1{
  text-align: center;
  color: #00327b;
}
.navbar-brand{
  font-size: 30px;
  color: #184c8f;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-toggle{
  color: #00327b;
  font-weight: bold;
  text-decoration: none;
  font-size:16px ;
  font-family: 'Times New Roman', Times, serif;
}
.mx-auto{
  color: #00327b;
  font-weight: bold;
  text-decoration: none;
  font-size:18px ;
  font-family: 'Times New Roman', Times, serif;

}
.dropdown-menu{
  color: #00327b;
  font-weight: bold;
  text-decoration: none;
  font-size:14px ;
  font-family: 'Times New Roman', Times, serif;

}
.text{
  color: #00327b;
}.c{
  margin-top: -20px;
}
.submit-btn
{
  color: #fff;
  background-color: #00327b;
 
   
  width: 100%;
  text-align: center;
    border: 1px solid transparent;
    padding:8px 8px;
    font-size: 12px;
    
    border-radius: 10px;
    
    text-transform: uppercase;
  }