<div class="bg-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="font-weight-500 text-white mb-2  fs-6 br-right-green position-relative">Informations utiles</div>                   
          <ul class="links p-0 list-unstyled lh-lg">
              <li><a href="#" class="text-white">Qui sommes-nous?</a></li>
              <li><a href="#" class="text-white">Conditions de vente</a></li>
              <li><a href="#" class="text-white">Contact</a></li>
              <li><a href="#" class="text-white">Points de ventes</a></li>
              
          </ul> 
        </div>
        <div class="col-md-4">
          <div class="font-weight-500 text-white mb-2  fs-6 br-right-green position-relative">Contact</div>       
          <ul class="links p-0 list-unstyled lh-lg">
            <li><span class="text-white">Adresse:</span><a class="text-white" href="#" target="_blank"> 
              <br>Angle rue des Entrepreneurs et rue du Métal 
              <br>Immeuble SOFIDE, 3ème étage
              <br>Z.I Charguia II - 2035
              TUNIS CARTHAGE</a>
            </li>
            <li><span class="text-white">Tél:</span><a class="text-white" href="tel:+21670103103">+(216) 70 103 103</a></li>
            <li><span class="text-white">Fax:</span><a class="text-white" href="tel:+21671942682">+(216) 71 942 682</a></li>
          </ul> 
        </div>
        <div class="col-md-4 ">
          <div class="font-weight-500 text-white  mb-2 fs-6 br-right-green position-relative">Application mobile</div>          
          <a href="#" rel="nofollow" target="_blank"><img src="assets/app store.png"  class="img-fluid"></a>
          <a href="#" rel="nofollow" target="_blank">  <img src="assets/play store.png" class="img-fluid"></a>
          <div class="mt-3"> 
            <p class="text-white mb-2">©2021 OCTY - Tous droits réservés.</p>
            
          </div>
        </div>
      </div>
    </div>
</div>